input[type="file"] {
    display: block;
}
.imageThumb {
    max-height: 90px;
    max-width: 150px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}
.pip {
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.remove {
    display: block;
    background: #edeff2;
    border: 1px solid black;
    color: black;
    text-align: center;
    cursor: pointer;
}
.remove:hover {
    background: white;
    color: black;
}
#cke_11,#cke_19,#cke_21,#cke_26,#cke_27,#cke_28,#cke_29,#cke_30,#cke_32,#cke_47{
    visibility: hidden;
}
